<!-- div class="jumbotron">
	<h1>Bemvindo ao Otica SaaS</h1>
	<p>O melhor software como serviço para óticas</p>
	<%= link_to "Óculos", "#", class: "btn btn-primary btn-block" %>
	<%= link_to "Cadastrar", new_user_registration_path, class: "btn btn-primary btn-block" %>
</div -->

<div class="jumbotron">

	<div class="header-content">
	    <div class="header-content-inner">
	        <h1>O Melhor Software para gerenciar sua Ótica</h1>
	        <hr>
	        <p>Com o Otk você tem o melhor gerenciador com o melhor custo benefício que existe no mercado!</p>
	        <a href="#about" class="btn btn-primary btn-xl page-scroll">Saiba Mais</a>
	    </div>
	</div>
</div>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nós temos o que você precisa!</h2>
                <hr class="light">
                <p class="text-faded">Comece a usar e tenha acesso a todos os nossos serviços!</p>
                <%= link_to "Comece Agora!", accounts_new_path, class: "btn btn-default btn-xl" %>
            </div>
        </div>
    </div>
</section>

<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Você terá acesso</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-ticket wow bounceIn text-primary"></i>
                        <h3>Emissão de Notas Fiscais</h3>
                        <p class="text-muted">Emita notas fiscais sem precisar de impressora nem TEF.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-credit-card wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Diga adeus as máquinas de cartão de crédito</h3>
                        <p class="text-muted">Passe o cartão de crédito do seu cliente dentro do Otk!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-archive wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Gerencie seu estoque</h3>
                        <p class="text-muted">Todo o controle do seu estoque de maneira fácil e intuitiva.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Cadastro de Clientes</h3>
                        <p class="text-muted">Todas as informações dos seus clientes na sua mão!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Entre em contato conosco!</h2>
                    <hr class="primary">
                    <p>Gostaria de conversar conosco antes de começar a usar? Mande-nos um email ou nos ligue!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>(81) 99752-4397</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">contato@otk.com</a></p>
                </div>
            </div>
        </div>
    </section>