<div class="jumbotron">
	<h1>Bemvindo ao Otica SaaS</h1>
	<p>O melhor software como serviço para óticas</p>
	<%= link_to "Óculos", "#", class: "btn btn-primary btn-block" %>
	<%= link_to "Cadastrar", new_user_registration_path, class: "btn btn-primary btn-block" %>
</div>